body{
    background-color: rgb(28, 28, 28);
    font-family: "Bodoni Moda SC", serif;
    overflow: hidden; /* Hide scrollbars */


}
.maintext{
    font-size: 450%;
    color: white;
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
    letter-spacing: 10px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.maintext2{
    font-size: 450%;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    z-index: 1;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 35%;
    left: 47%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    opacity: 0;
    transition: 1s;
}
.maintext2:hover{
    color: rgb(255, 255, 255);
    opacity: 1;
    top: 45%;
    font-size: 500%;
}
.video1{
    height: 120%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    top: -20px;
    right:0px;
}
.maintext2{
    transform: rotate(90deg);
}
a{
    text-decoration: none;
    color: white;
}
.bodytext1{
    color: white;
    font-size: 200%;
    text-align: center;
}
.bodytext2{
    color: white;
    font-size: 300%;
    text-align: center;
}
.signupbutton{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 200%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 150px;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}